html, body {
    background-color: #1974d2;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    top: 0;
    height: 15%;
    width: 100%;
    border-bottom: 3px solid black;
    background-color: navy;
}

header h1 {
    margin-left: 0.75em;
    font-size: 3rem;
    color: #e6e200; 
}

#RightContainer {
    height: 82%;
    width: 90%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    left: 16vw;
    overflow-y: scroll;
}

.CardContainer {
    background-color: #800080;
    border: 3px solid black;
    border-radius: 10px;
    color: #e6e200;
    font-family: 'Vidaloka', serif;
    position: relative;
    width: 15em;
    height: 17.5em;
    padding: 0.9em;
    z-index: 1;
}

@media (max-width: 1200px) {
    #RightContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    #RightContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.CardContainer input[type="date"] {
    background: transparent;
    border: 2.5px dotted #e6e200;
    border-radius: 2.5px;
    color: #e6e200;
    font-family: 'Vidaloka', serif;
    margin-left: 5px;
    padding: 4px;
}

.CardHeader {
    background-color: navy;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SelectBox {
    border: 2px solid black;
    /* background: transparent; */
}

select option[value="low"] {
    background-color: green;
}
.SelectMedium:hover {
    background: yellow;
}
.SelectLow:hover {
    background: rgba(255, 0, 0);
}

.ProjectDelete {
    background-color: #800000;
    border: 2px solid black;
    border-radius: 2.5px;
    color: #e6e200;
    font-size: 1.025rem;
    padding: 2px 3px; 
    position: absolute;
    bottom: 7.5px;
    right: 15px;
}

#SideBar {
    background-color: #400080;
    border-right: 2px solid black;
    color: #e6e200;
    font-size: 1.5rem;
    height: 80%;
    width: 15%;
    left: 0;
}

#SideBar p {
    margin-left: 0.25em;
    margin-top: 0;
    padding-top: 5%;
}

#SideBar ul {
    list-style: none;
}

#SideBar ul li {
    margin-top: 0.3em;
}

#SideBar ul li:hover, #FormSubmitBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}


footer {
    background-color: navy;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 5%;
    width: 100%;
}

footer p {
    color: #e6e200;
}

.Center {
    margin: 0 auto;
}

/* Begin Create Project Form CSS*/

#FormContainer {
    background-color: #d2bc19;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Vidaloka', serif;
    font-size: 1.25rem;
    height: 52.5%;
    width: 20%;
    box-shadow: 19px 16px 12px -2px rgba(0,0,0,0.60);
    margin: auto 30% auto 30%;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

#FormContainer h3 {
    font-size: 1.75rem;
    letter-spacing: 1.25px;
    margin-bottom: 7.5px;
}

#FormContainer input {
    background: transparent;
    border: none;
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.67);
    margin: 10px 2.5px;
}

::placeholder {
    color: black;
    opacity: 1; 
}

#CloseForm {
    background-color: #800000;
    border: 1.5px solid black;
    color: #d2bc19;
    font-size: 1.05rem;
    text-align: center;
    padding: 2px 4px;
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.67);
    position: absolute;
    right: 10px;
    top: 10px;
}

#CloseForm:hover, .ProjectDelete:hover {
    cursor: pointer;
}

#TitleInputLabel {
    display: flex;
    justify-content: center;
    text-align: center;
}

#FormContainer input[type="radio"] {
    margin: -1px;
    vertical-align: middle;
}

#FormSubmitBtn {
    background-color: #d26019;
    border: 2px solid black;
    border-radius: 2.5px;
    color: white;
    font-size: 1.15rem;
    margin: 0.5em auto 0 auto;
    padding: 3px;
}
/*End Create Project Form CSS*/
